/*******************************************************
TITLE: Black and White
DATE: 20070209
AUTHOR: Paul Stokes - http://www.paulstokesdesign.com
*******************************************************/

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

html {
	height:100%;
}

#container {
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #FFF;
	color:#1F4F1D;
}

body {
	font-family: verdana, helvetica, sans-serif;
	font-size:11px;
	cursor:default;
	color:#1F4F1D;
	background: #fff;
	
}

h1 {
	font-size:28px;
	color:#fff;
	background-color:#000;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:0px;
	border-bottom: 1px solid #fff;
}

h2 {
	font-size:18px;
	color:#fff;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#000;
	border-bottom: 1px solid #fff;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:0px;
}

h3 {
	font-size:14px;
	color:#fff;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
	background-color:#000;
	border-bottom: 1px solid #fff;
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:0px;
}

 .bl {background: url(images/bl.gif) 0 100% no-repeat #000;}
.br {background: url(images/br.gif) 100% 100% no-repeat}
.tl {background: url(images/tl.gif) 0 0 no-repeat}
.tr {background: url(images/tr.gif) 100% 0 no-repeat; padding:10px}
.clear {font-size: 1px; height: 1px}

#header {
	width:750px;
	height:100px;
	padding-top:0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:0px;
	margin-bottom:0px;
	padding-top:0px;
	margin-top:0px;
	background-color:#000;
	background-image: url(images/header1.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
	color:#fff

}
.spacer {
	width:100%;
	height:15px;
	background: inherit;
}

.right {
	diplay:block;
	float:right;
	width:215px;
	height:100%;
	}
	

#side {
	float:left;
	width:198px;
	background-color:#000;
	color:#fff;
	font-size: 11px;
	display:block;
	text-align: left;
}


#side ul {
	padding-left:10px;
	font-size:12px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

#side li {
	list-style-type:none;
}

#side li a:link, #side li a:visited {
	color:#ff0000;
	text-decoration: none;
	display: block;
	background-color: #000;
	font-weight:bold;
}

#side li a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background: #000;
}

#side p {
	padding-left:10px;
	font-size:12px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
}
.left {
	display:block;
	float:left;
	width:515px
}

#main {
	width:498px;
	color:#fff;
	background-color:#000;
	margin-right: auto;
	margin-left: auto;
	display:block;
	text-align:justify;
}

	
#main p {
	padding:10px;
}
	
#main a:link, #main a:visited {
	color:#ff0000;
	text-decoration: none;
	background-color: #000;
}

#main a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	background: #000;
	border-top: 1px solid #fff;
}

#footer {
	width:750px;
	height:50px;
	padding-top:0px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom:0px;
	margin-bottom:0px;
	padding-top:0px;
	margin-top:20px;
	background-color:#000;
	background-image: url(images/footer1.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	display:block;
	float:left;
}

#footer p {
	padding-left:10px;
	font-size:12px;
	padding-right:10px;
	margin-left:10px;
	margin-right:10px;
	padding-top:5px;
	color:#fff;
}

#footer a:link, #footer a:visited {
	color:#ff0000;
	text-decoration: none;
	background-color: #000;
}

#footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	background: #000;
	border-top: 1px solid #fff;
}
